.idea/
/out/
.idea_modules/
.mtj.tmp/
bin/
gen/
proguard/
.navigation/
.gradle
.DS_Store
/local.properties
/build
/captures
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
gradle-app.setting
hs_err_pid*
!gradle-wrapper.jar
*.iml
*.ipr
*.iws
*.class
*.apk
*.ap_
*.dex
*.log
